<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/waco_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/waco_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:targetApi="31">

        <!-- SplashActivity jako startowa aktywność -->
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.Waco"
            android:launchMode="singleTask"
            android:exported="true"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MainActivity - uruchamiana po SplashActivity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">            <!-- MainActivity nie powinna być uruchamiana jako launcher -->
        </activity>


        <activity android:name="com.example.waco.components.AboutWacoActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">       <!-- MainActivity nie powinna być uruchamiana jako launcher -->
        </activity>
        <activity android:name="com.example.waco.components.OfferActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">       <!-- MainActivity nie powinna być uruchamiana jako launcher -->
        </activity>

    </application>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
