<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Uprawnienia -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <!-- Funkcje sprzętowe -->
    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/waco_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/waco_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Waco"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <!-- Google Maps API Key (pusta, dodaj kiedyś swoją) -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="" />

        <!-- SplashActivity jako startowa aktywność -->
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.Waco"
            android:launchMode="singleTask"
            android:exported="true"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MainActivity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!-- Pozostałe Activity -->
        <activity android:name="com.example.waco.components.AboutWacoActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity android:name="com.example.waco.components.OfferActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity android:name="com.example.waco.components.LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity android:name="com.example.waco.components.ContactActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity android:name="com.example.waco.components.OrderActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity android:name="com.example.waco.components.OrderDetailsActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />


        <activity android:name="com.example.waco.components.ColorListActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />


        <activity android:name="com.example.waco.components.ColorRGBDetailActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />



        <activity android:name="com.example.waco.components.ColorDetailActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />


        <activity android:name="com.example.waco.components.ColorRGBListActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity android:name="com.example.waco.components.ColorRalCamera"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity android:name="com.example.waco.components.ColorNcsCamera"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity android:name="com.example.waco.components.ColorPickerActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity android:name="com.example.waco.components.ColorResultActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity android:name="com.example.waco.components.LoginAdminActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity android:name="com.example.waco.components.DashboardActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity android:name="com.example.waco.components.InvoicesActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity android:name="com.example.waco.components.OrdersActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity android:name="com.example.waco.components.OrderItemsActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <service
            android:name=".network.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- Firebase Default Notification Settings -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/notification_color" />

    </application>

</manifest>
